<!DOCTYPE html>
<html>
  <head>
    <title>Hand_hexapod</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/socket.io/socket.io.js"></script>
  </head>
  <body>
    <div class="container">
      <button type="button" onclick="moverTurnLeft()" >Turn Left</button>
      <button type="button" onclick="moverForward()" >Forward</button>
      <button type="button" onclick="moverTurnRight()">Turn Right</button>

      <button type="button" onclick="moveLeft()" >Left</button>
      <button type="button" onclick="stopMotor()" >Stop</button>
      <button type="button" onclick="moveRight()" >Right</button>

      <button type="button" onclick="sitDowm()" >Sit</button>
      <button type="button" onclick="moveBackward()" >BackWard</button>
      <button type="button" onclick="moveDance()">Hello</button>
</div>
    <script type="text/javascript" src='/javascripts/javascript.js'></script>
  </body>
</html>
